* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container1 {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container2 {
  display: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #e7e9ea;
  background-color: #000000;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.container1 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  /* z-index: 99; */
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  margin-bottom: 20px;
}
.container1 header .first_nav {
  padding: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container1 header .second_nav {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #2d3133;
}
.container1 header .second_nav span:first-child {
  border-bottom: 2px solid #1d9bf0;
  border-radius: 2px;
  padding: 15px;
}
.container1 header .second_nav span:first-child:hover {
  background-color: rgba(231, 233, 234, 0.1);
}
.container1 header .second_nav span:last-child {
  color: #585c60;
  padding: 15px;
}
.container1 header .second_nav span:last-child:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.container1 header img:hover {
  cursor: pointer;
}
.container1 main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: auto;
}
.container1 main .add {
  position: fixed;
  bottom: 100px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d9bf0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 35px;
  color: #fff;
  border: none;
}
.container1 main .add:hover {
  cursor: pointer;
}
.container1 main .button-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.container1 footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.container1 footer .first {
  position: relative;
}
.container1 footer .dot {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  top: -2px;
  background-color: #1d9bf0;
  border-radius: 5px;
}
.container1 footer img:hover {
  cursor: pointer;
}
.container2 header {
  height: 10px;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backBtn{
  background-color: transparent;
  border: none;
}
.container2 header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.container2 header .buttons button {
  background-color: #1d9bf0;
  width: 70px;
  font-size: 14px;
  height: 35px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
.container2 header .buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 75px;
  height: 40px;
  border-radius: 25px;
  color: #187ec3;
  font-weight: bold;
  border: none;
}
.container2 header .buttons span:hover {
  background-color: #07446da6;
}
.container2 main {
  margin-top: 45px;
  margin-left: 10px;
}
.container2 .first_section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.container2 .first_section input {
  height: 40px;
  background-color: transparent;
  border: none;
  color: #585c60;
  font-size: 22px;
}
/* person_info */
.person_info {
  width: 280px;
  height: 100%;
  background: #000;
  transition: 0.5s all;
  position: fixed;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: -280px;
}

@keyframes sideBarOn{
  
 
  100%{
    left: 0px
  }
}

@keyframes sideBarOff{
  
 
  100%{
    left: -280px
  }
}

.profileSideOnBtn{
  margin-top: 24.5px;
  background-color: transparent;
  color: transparent;
  border: none;
}

.profileSideOfBtn{
  cursor: pointer;
}

.heder_box {
  display: flex;
}

.line1 {
  display: flex;
  justify-content: space-between;
  width: 280px;
  flex-direction: row;
  padding: 10px;
  margin-top: 0.5rem;
}

.line1 button {
  background-color: #000;
  border-radius: 50%;
  border: solid 1px #fff;
  color: #fff;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heder_box_top h3 {
  margin: 0 0 0 1rem;
}
.heder_box_top h4 {
  margin: 0 0 0 1rem;
  /* font-weight: 500; */
  color: #585c60;
}

.line3 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.heder_box_bottom_lines {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 280px;
  /* padding: 10px; */
  align-items: center;
}
.heder_box_bottom_lines img {
  width: 28px;
  height: 28px;
  margin-left: 1rem;
}
.heder_box_bottom_lines h2 {
  margin: 1rem;
}

body {
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: #ffffff; /* Karanlık mod arka plan rengi */
  color: #ffffff; /* Karanlık mod metin rengi */
  /* Diğer stiller... */
}


.darkbtn{
  margin-top: 24.5px;
  border: none;
}
/* person_info */


/* posts */

.posts{
  width: 380px;
  height: 400px;
  /* background-color: #fff; */
  z-index: -99;
  margin: auto;
}

.post{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.postContent{
  /* display: flex; */
  margin-left: 14px;
  width: 100%;
}

.postContentHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.threeDot button{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.postContentBody{
  margin-bottom: 14px;
}

/* posts */